{
  "parser": "babel-eslint",
  "rules": {
    "semi": "off",
    "no-console": "warn",
    "no-alert": "warn",
    "no-unused-vars": "warn",
    "no-plusplus": "off",
    "max-len": ["error", 80],
    "vars-on-top": "off",
    "linebreak-style": "off",
    "prefer-destructuring": "off",
    "indent": ["error", 2],
    "import/no-extraneous-dependencies": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never"
      }
    ]
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "plugins": ["prettier"],
  "extends": ["airbnb", "prettier"]
}
