{
  "extends": ["eslint:recommended", "react-app", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn",
    "jsx-quotes": [1],
    "no-console": 2
  },
  "env": {
    "es6": true,
    "browser": true
  }
}
