@import '~normalize-css/normalize.css';
@import './fonts.css';

body {
  font-family: 'Manrope Regular', sans-serif;
}
.container {
  padding: 2rem 0;
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.logo {
  background-image: url('../assets/img/activities-4.jpg');
  background-size: cover;
  border-radius: 8px;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}
pre {
  color: darkcyan;
}
